@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #64ffda;
    --secondary: #a8b2d1;
    --medium: #8892b0;
    --bold-text: #ccd6f6;
    --primary-bg: #0b192e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0b192e;
        --foreground: #ededed;
        --primary: #64ffda;
        --secondary: #a8b2d1;
        --medium: #8892b0;
        --bold-text: #ccd6f6;
        --primary-bg: #0b192e;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
